@charset "utf-8";
.slick-initialized .slick-slide {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}

.container {
    width: 840px;
    margin: 0 auto;
}

/* mainvisual */
#mainvisual {
    background-image: url("../images/001.jpg");
    background-size: cover;
    width: 100%;
}

.main-text {
    padding-top: 300px;
    padding-left: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.number {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    display: flex;
}

.zero {
    padding-left: 50px;
}

.hundred {
    padding-left: 45px;
}
h1 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
    font-weight: normal;
}

.hiragana {
    font-size: 16px;
}

h2 {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-align: left;
    margin: 0;
    line-height: 1.2;
}

.introduce,
.resolution,
.voice {
    background-color: rgba(80, 80, 80, 80);
    width: 100%;
}

/* introduce */
.sisetsu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -80px;
    margin-right: -80px;
    margin-top: 0;
}

.sisetsu {
    width: calc(100% / 6);
}

.sisetsu-photo {
    padding-right: 10px;
}

.sisetsu-photo > img {
    width: 100%;
    height: auto;
}

.contents {
    margin: 0 auto;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 0;
}

.catchy-copys {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding-right: 100px;
    padding-left: 0;
    margin: 0;
    padding-top: 8px;
}

.catchy-copy {
    padding-bottom: 10px;
}

.cathy-message {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    padding:5px 15px;
    flex-wrap: nowrap;
    font-weight: 800;
    font-size: 24px;
}

.message {
    text-align: left;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    min-width: 600px;
}

.message > p {
    margin: 0;
}
.message > p:nth-child(1) {
    padding-bottom: 30px;
}

.worries {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 80px;
}

.worry-lists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    min-width: 820px;
}

.list-left,
.list-right {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

h3 {
    color: #FFFF00;
    font-size: 40px;
    margin: 0;
    padding-bottom: 10px;
}

.worry-list {
    padding-right: 30px;
    padding-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border: 1px solid #FFFF00;
    border-radius: 4px;
    width: 350px;
    height: 60px;
    padding-left: 10px;
    text-align: left;
}

.fa-circle-chevron-right {
    padding-right: 10px;
}

/* trader */
.trader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.trader-name {
    padding-top: 25px;
}

.irasto > img {
    width: 400px;
    padding-bottom: 60px;
    margin-top: -60px;
}

.trader-lists {
    list-style: none; 
    color: #d0db07;
    font-size: 24px;
}

/* resolution */
.resolution {
    min-width: 1000px;
}

h4 {
    color: #FFFF00;
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
    margin: 0;
}

.institutionTeam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.institutionTeam:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.team-introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.text1 {
    display: flex;
    padding-bottom: 10px;
    color: #fff;
}

.point,.black-box,.white-box {
    margin: 0 5px;
}

.point-tag {
    font-size: 16px;
}

.black-box {
    padding: 3px 30px;
    color:#fff;
    background-color: #000;    
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.white-box {
    padding: 3px 30px;
    color:#000;
    background-color: #fff;    
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.text2 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.text3 {
    font-size: 16px;
    color: #fff;
    text-align: left;
}

.text3 > p {
    margin: 0;
    padding: 10px 0;
}

.institution-photo {
    width: 50%;
}

.institution-photo > img {
    width: 100%;
}

/* achievement */
.achievement {
    padding-bottom: 100px;
}

.achievement-title {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0 40px 100px;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

.achievement-title::after {
    display: flex;
    content: '';
    background-color: #000;
    position: relative;
    width: 100%;
    height: 0.3px;
    padding-left: 40px;
    margin-left: 20px;
}

.slick01 {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 300px;
    margin: 0;
    padding: 0;
}

.achievement-container {
    position: relative;
}

.achievementーphoto > img {
    width: 300px;
    padding-right: 20px;
    height: auto;
}

.client {
    position: absolute;
    top: 180px;
    left: -10px;
}

.client-name {
    background-color: #000;
    color: #fff;
    padding: 10px 100px 10px 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

/* voice */
.voice {
    color: #fff;
    padding-bottom: 100px;
}

.customer-name {
    font-size: 22px;
    font-weight: 600;
}

.company-introduce {
    font-size: 14px;
}

.voice-title {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0 40px 100px;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

.voice-title::after {
    display: flex;
    content: '';
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 0.3px;
    padding-left: 40px;
    margin-left: 20px;
}

.customer {
    background-color: #000;
    padding: 40px;
    height: auto;
    margin: 0 auto;
}

.customer-lists {
    display: flex;
    padding: 0;
    margin: 0;
}

.customer-list {    
    display:flex;
    justify-content: center;
    align-items: center;
}

.customer-photo {
    padding-right: 40px;
}

.customer-photo > img {
    width:300px;
}

.slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 20px;
    height: 38px;
    color: transparent;
    z-index: 1;
    transition: opacity 0.5s;
    z-index: 1;
}
.slick-arrow:hover {
    opacity: 0.7;
}

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.slick-next::after,
.slick-prev::after {
    width: 26px;
    height: 26px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    
}
  
  /* next */
  
.slick-next {
    right: -150px;
}
.slick-next::after {
    right: 0;
    transform: rotate(45deg);
}
  
  /* prev */
  
.slick-prev {
    left: 0;
}
.slick-prev::after {
    left: -150px;
    transform: rotate(-135deg);
}  
/* price */
.price {
    padding-bottom: 50px;
}

.price-text {
    text-align: center;
}

.price-title {
    font-size: 25px;
    font-weight: 600;
    padding-top: 50px;
}

.plans {
    display: flex;
    justify-content: center;
    width: 840px;
    margin: 0 auto;
}

.plan {
    box-shadow: 0px 0px 15px -5px #777777;
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
}

.plan1 {
    border-top: 20px solid #FF3333;
}

.plan2 {
    border-top: 20px solid 	#3333FF;
}

.plan-name,.plan-price {
    font-size: 20px;
    font-weight: 600;
}

.plan-info {
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: left;
}

/* flow */
.flow {
    padding-bottom: 100px;
    background-color: #000;
}

.flow-boxes {
    padding: 0;
}

.flow-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    color: #fff;
    z-index: 2;
    border: none;
    padding: 20px 80px 20px 20px;
}

.flow-box:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.box_1 {
    background-color:#75A9FF;
}

.box_2 {
    background-color:#1fbfc4;
}

.box_3 {
    background-color:#0c6e6b;
}

.box_4 {
    background-color:#f8cd6b;
}

.box_5 {
    background-color:#d58f16;
}

.box_6 {
    background-color:#d45d32;
}

.flow-info {
    padding-top: 0;
    margin: 0;
    padding-bottom: 40px;
    text-align: left;
}

.flow-conteiner {
    position: relative;
}

.flow-text {
    text-align: center;
    color: #fff;
}

.flow-title {
    font-size: 25px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
}

.flow-boxes {
    list-style: none;
}

.step {
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
    font-size: 16px;
    text-align: center;
    padding: 20px 22px;
    white-space: nowrap;
}

.box_1 > .step {
    color: #75A9FF;
}

.box_2 > .step {
    color: #1fbfc4;
}

.box_3 > .step {
    color: #0c6e6b;
}

.box_4 > .step {
    color: #f8cd6b;
}

.box_5 > .step {
    color: #d58f16;
}

.box_6 > .step {
    color: #d45d32;
}

.introduce-tittle {
    font-size: 20px;
}

.introduce-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.flow-message {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
}

/* form */
.form {
    padding-bottom: 150px;
}

.form-title {
    font-size: 25px;
    padding: 50px 0 20px 0;
    font-weight: 600;
    text-align: center;
}

.mailform {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    margin: 0 auto;
}

.required-box {
    padding-right: 5px;
}

.required-btn {
    background-color: #06bc73;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.item-name {
    display: flex;
    font-weight: 550;
    align-items: center;
}

.inquiry {
    align-items: flex-start;
}

.field {
    width: 400px;
    text-align: right;
}

input {
    padding:10px;
}

input,textarea {
    background-color: #eee;
    border:none;
    width: 100%;
    border-radius: 6px;
}

.submit-btn {
    text-align: center;
    padding-top: 80px;
    border-top: 1px solid #eee;
}

.submit-btn >  button{
    background-color: #000;
    color:#fff;
    border: none;
    font-size: 20px;
    padding: 5px 40px;
    text-align: center;
}

.submit-btn >  button:hover {
    opacity: 0.6;
}

footer {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.logo-box {
    padding-right: 20px;
}

.logo {
    background-color: #fff;
    color: #000;
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.company-info {
    color: #fff;
    text-align: left;
}

.company-info >  P {
    width: 600px;
}

/* footer */
.copyRight {
    text-align: center;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 12px;
}



@media screen and (max-width:767px) {
    .pc-only {
        display: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    body {
        font-size: 14px;
    }

    .pc-only {
        display: none;
    }

    .container {
        width: 90%;

    }
    /* main */
    /* mainvisual */
    #mainvisual {
        width: 100%;
    }

    .main-text {
        padding-top: 200px;
        padding-left: 60px;
    }

    .number {
        font-size: 16px;
    }

    .zero,
    .hundred {
        padding-left: 38px;
    }

    h1 {
        font-size: 16px;
        padding-left: 0;
    }

    .hiragana {
        font-size: 14px;
    }

    h2 {
        font-size: 40px;
        padding-left: 0;
    }

    /* introduce */
    .sisetsu {
        width: calc(100% / 4);
    }

    .sisetsu-photo {
        padding: 0;
    }

    .sisetsu-list {
        margin: 0;
    }
    
    .sisetsu > img {
        width: 100%;
    }

    .text-container {
        padding: 20px;
    }

    .feature {
        flex-direction: column;
        padding:30px 15px;
    }

    .catchy-copys {
        padding-right: 0;
        padding-top: 0;
    }

    .catchy-copy {
        padding-bottom: 10px;
    }

    .cathy-message {
        padding: 10px 30px 10px 10px;
        font-size: 16px;
    }

    .message {
        padding: 0;
        min-width: unset;
        line-height: 30px;
        font-size: 14px;
    }

    .worries {
        align-items: center;
        padding-bottom: 20px;
        
    }

    .worry-lists {
        flex-direction: column;
        justify-content: center;
        min-width: unset;
    }
    
    h3 {
        font-size: 25px;
    }

    .worry-list {
        padding-right: 0;
    }

    .list-left,
    .list-right {
        flex-direction: column;
    }

    .box {
        font-size: 13px;
        width: 100%;
    }

    /* trader */
    .trader {
        align-items: flex-start;
        flex-direction: column;
    }

    .irasto {
        text-align: center;
    }

    .irasto > img{
        width: 80%;
        margin-top: 0;
        padding: 20px 0;
    }

    .trader-name {
        padding-top: 0;
    }
    /* resolution */
    .resolution {
        min-width: unset;
    }
    
    h4 {
        font-size: 25px;
        padding: 20px 0;
    }

    .team-introduce  {
        width: 100%;
        padding: 20px 0;
    }


    
    .institutionTeam {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .institutionTeam:nth-child(even) {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    .institution-photo {
        width: 100%;
    }

    .black-box,.white-box {
        padding: 3px 20px;
    }
    
    .point-tag {
        font-size: 14px;
    }

    .text2 {
        font-size: 20px;
    }

    .text3 {
        font-size: 14px;
    }
    .text1,.text2,.text3 {
        padding: 0 20px;
    }

    /* achievement */
    .achievement {
        padding-bottom: 0;
    }

    .achievement-title {
        padding-left: 0;
        font-size: 25px;
        padding: 50px 0 20px 20px;
    }

    .achievement-title::after {
        margin-top: 10px;
        padding-left: 0;
        margin-left: 0;
    }

    .slick01 {
        width: auto;
        height: 200px;
    }

    .achievementーphoto {
        display: flex;
        overflow-x: hidden;
    }
    .achievementーphoto > img {
        height: auto;   
        flex: 1 1 auto;
        width: 200px;
        overflow-x: hidden;
    }

    .client {
        top: 100px;
        left: -10px;
    }

    .client-name {
        padding: 10px 40px 10px 20px;
        font-size: 20px;
    }

    /* voice */
    .voice > .container  {
        padding: 0;
    }

    .voice {
        padding-bottom: 20px;
    }

    .voice-title {
        padding-left: 0;
        font-size: 25px;
        padding: 50px 0 20px 20px;
    }

    .customer {
        padding: 30px;
        width: auto;
    }

    .customer-photo {
        padding: 0;
    }

    .customer-photo > img {
        width: 100%;
    }

    .voice-text {
        padding: 20px 0;
        text-align: center;
    }

    .slick-next::after, .slick-prev::after {
        width: 12px;
        height: 12px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
    }

    .slick-prev::after {
        left: -20px;
        top: -120px;
    }
    .slick-next {
        right: -20px;
        top: -120px;
    }

    /* price */
    .plans {
        flex-direction: column;
        width: 100%;
    }

    .plan {
        width: auto;
        padding: 20px;
        margin: 20px 0;
    }
    
    /* form */
    .form {
        padding-bottom: 20px;
    }

    .item {
        flex-direction: column;
    }

    .item-name {
        padding-bottom: 20px;
    }
    /* flow */
    .flow {
        padding-bottom: 20px;
    }

    .flow-box {
        padding: 20px;
    }

    .step {
        font-size: 12px;
        padding: 15px 16px;
    }

    .flow-title {
        padding: 20px 0;
    }

    .flow-info {
        padding-bottom: 10px;
    }

    .flow-message {
        font-size: 14px;
    }

    /* introduce-info */
    .introduce-info {
        font-size: 14px;
    }

    /* form */
    .mailform {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .field {
        width: 100%;
    }

    input, textarea {
        width: 90%;
    }

    .submit-btn {
        padding-top: 20px;
    }
    /* footer */
    .company {
        padding: 0 20px;
        flex-direction: column;
    }

    .logo {
        padding: 10px;
        font-size: 16px;
    }

    .company-info > P {
        width: 100%;
    }

    .copyRight {
        text-align: center;
        padding-right: 0;
    }
}